body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #000000, #333333);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; 
}
.form-container .full-width {
    grid-column: span 2;
}
.form-row {
    margin-bottom: 0.5rem; /
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}


p {
    text-align: center;
    font-size: 14px;
}

a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
input:hover{
    border-color: gold;
    transform: scale(1.03);
    
}

input:focus {
    outline: none;
    border-color: #00bfff;
}


button {
    
    width: 107%;
    padding: 10px;
    background-color:#000000;
    border: 2px white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s;
    color: #ffffff;
}

button:hover {
    color: #000000;
    background-color: #ffffff;
    
}
button ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
button:hover::before{
    transform: scaleX(1);
}


