<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de Perfil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/setup.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/inter.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js"></script>
</head>

<body>
    <div id="imageUrls" data-imagen-izquierda="{% static 'users/image/tecnm.jfif' %}"
        data-imagen-derecha="{% static 'users/image/ser.jfif' %}">
    </div>
    <div class="container">
        <div class="header">
            <h1>Configuración de Perfil</h1>
            <p>Actualiza tu información personal y genera reportes</p>
        </div>
        <form id="profileForm">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-field">
                    <label for="semester" class="sr-only">Semestre Actual</label>
                    <input type="text" id="semester" name="semester" placeholder="Semestre" value="{{ semester }}" readonly>
                </div>
                <div class="input-field">
                    <label for="firstName" class="sr-only">Nombre</label>
                    <input type="text" id="firstName" name="firstName" placeholder="Nombre" value="{{ first_name }}" readonly>
                </div>
                <div class="input-field">
                    <label for="middleName" class="sr-only">Apellido Paterno</label>
                    <input type="text" id="middleName" name="middleName" placeholder="Apellido Paterno" value="{{ middle_name }}" readonly>
                </div>
                <div class="input-field">
                    <label for="lastName" class="sr-only">Apellido Materno</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido Materno" value="{{ last_name }}" readonly>
                </div>
            </div>
            <div class="button-row">
                <button id="q" type="button">Generar Reporte 1</button>
                <button id="w" type="button">Generar Reporte 2</button>
                <button id="e" type="button">Generar Reporte 3</button>
            </div>
            <a href="{% url 'home' %}" id="submit" class="submit-button">Regresar a inicio</a>
        </form>        
    </div>
    <script>
        const urls = {
            content: "{% url 'save_pdf' %}",
        };
    </script>
    <script src="{% static 'users/js/setup.js' %}"></script>    
</body>
</html>
